@import url("./fonts.css");
@import url("./reset.css");

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-rgb: 0, 0, 0;

  --color-primary-100: #f3e8ff;
  --color-primary-300: #d8b4fe;
  --color-primary-400: #c084fc;
  --color-primary-600: #9333ea;
  --color-primary-800: #6b21a8;
  --color-primary-900: #581c87;

  --color-neutral-200: #e2e8f0;
  --color-neutral-300: #cbd5e1;
  --color-neutral-400: #94a3b8;
  --color-neutral-800: #1a2131;
  --color-neutral-900: #0f172a;

  --color-pink: #be185d;
  --color-orange: #c2410c;

  --font-family-base: "Roboto", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  --text-size-sm: 0.875rem;
  --text-size-base: 1rem;
  --text-size-md: 1.125rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.5rem;
  --text-size-2xl: 2rem;
  --text-size-3xl: 2.5rem;
  --text-size-4xl: 3.5rem;
  --text-size-5xl: 4.5rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;

  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 5rem;

  --container-max-width: 80rem;
  --container-spacing: 1rem;
}

/* General */

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size-md);
  line-height: 1.6;
  color: var(--color-light);
  background-color: var(--color-neutral-900);
  &.lock {
    overflow: hidden;
  }
}

/* Utilities */

.container {
  width: min(var(--container-max-width), 100% - (var(--container-spacing) * 2));
  margin-inline: auto;
}

.flow > :not(:last-child) {
  margin-bottom: var(--flow-spacing, var(--spacing-lg));
}

.margin-bottom-80 {
  margin-bottom: clamp(var(--spacing-lg), 6vw, var(--spacing-3xl));
}

.padding-block-80 {
  padding-block: clamp(var(--spacing-lg), 6vw, var(--spacing-3xl));
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary-400 {
  color: var(--color-primary-400);
}

.text-primary-600 {
  color: var(--color-primary-600);
}

.highlight-box {
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5%;
    z-index: -1;
    width: 98%;
    height: 95%;
    border: 5px solid var(--color-orange);
  }
}

/* Overlay */

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  background-color: var(--color-dark);
  transition: opacity 0.2s ease-in-out;
  &.active {
    opacity: 0.5;
    pointer-events: auto;
  }
}

/* Headings */

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  color: var(--color-light);
}

h1,
.heading-1,
h2,
.heading-2 {
  font-weight: var(--font-weight-extra-bold);
}

h1,
.heading-1 {
  font-size: clamp(var(--text-size-3xl), 6vw, var(--text-size-5xl));
}

h2,
.heading-2 {
  font-size: clamp(var(--text-size-2xl), 6vw, var(--text-size-4xl));
}

h3,
.heading-3 {
  font-size: var(--text-size-3xl);
}

h4,
.heading-4 {
  font-size: var(--text-size-2xl);
}

h5,
.heading-5 {
  font-size: clamp(var(--text-size-lg), 4vw, var(--text-size-xl));
}

h6,
.heading-6 {
  font-size: var(--text-size-lg);
}

/* Captions */

.caption {
  display: inline-block;
  font-size: var(--text-size-lg);
  line-height: 1;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: var(--spacing-base);
  }
}

/* Buttons */

.button {
  padding-block: 0.75rem;
  padding-inline: clamp(1rem, 2vw, 1.75rem);
  white-space: nowrap;
  font-size: var(--text-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  letter-spacing: 0.031rem;
  color: var(--color-light);
  border-radius: var(--radius-lg);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.button-primary {
  border: 2px solid var(--color-primary-600);
  background-color: var(--color-primary-600);
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-primary-400);
      border-color: var(--color-primary-400);
    }
  }
}

.button-transparent {
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-neutral-900);
    }
  }
}

.button-border-light {
  border: 2px solid var(--color-light);
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-neutral-900);
      background-color: var(--color-light);
    }
  }
}

.button-large {
  padding-block: clamp(0.75rem, 3vw, 1rem);
  padding-inline: clamp(1rem, 4vw, 2.5rem);
  font-size: clamp(var(--text-size-base), 2vw, var(--text-size-lg));
}

.button-link-arrow {
  display: inline-flex;
  gap: var(--spacing-base);
  padding-inline: 0;
  white-space: normal;
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary-400);
      > svg {
        translate: -0.5rem 0;
      }
    }
  }

  > svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: translate 0.2s ease-in-out;
  }
}

/* Badges */

.badge {
  padding-block: 0.125rem;
  padding-inline: 0.5rem;
  font-size: var(--text-size-sm);
  line-height: 1.4;
  color: var(--color-primary-800);
  border-radius: var(--radius-sm);
  background-color: var(--color-primary-100);
}

/* Underlines && Overlines */

.underline,
.overline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 95%;
    height: 0.25rem;
  }
}

.underline {
  &::before {
    bottom: 4%;
    left: 0;
  }
}

.overline {
  &::before {
    top: 22%;
    left: 5%;
  }
}

.underline-primary,
.overline-primary {
  &::before {
    background-color: var(--color-primary-400);
  }
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-block: clamp(var(--spacing-base), 2vw, var(--spacing-md));
}

.navbar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: clamp(1.25rem, 3vw, 2.875rem);
  max-width: 62.5rem;
  margin-inline: auto;
  padding: clamp(var(--spacing-xs), 2vw, var(--spacing-md));
  border-radius: var(--radius-3xl);
  background-color: var(--color-neutral-800);
  box-shadow: 0 1.563rem 3.125rem -0.75rem rgba(var(--color-dark-rgb), 0.25),
    0 0 0.938rem 0 rgba(var(--color-dark-rgb), 0.07);
}

.navbar-brand {
  font-size: var(--text-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.navbar-nav {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(var(--spacing-md), 2vw, var(--spacing-lg));
  row-gap: var(--spacing-xs);
  font-size: var(--text-size-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  a {
    letter-spacing: 0.031rem;
    transition: color 0.2s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary-300);
      }
    }
  }
}

.nav-actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-base);
}

.navbar-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
  padding: 0.625rem;
  color: var(--color-light);
  border-radius: var(--radius-md);
  transition: rotate 0.2s ease-in-out, background-color 0.2s ease-in-out;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-neutral-900);
    }
  }

  &::before,
  &::after,
  > span {
    height: 0.25rem;
    border-radius: var(--radius-sm);
    background-color: currentColor;
    transition: translate 0.2s ease-in-out, rotate 0.2s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    width: 50%;
  }

  &::before {
    transform-origin: right center;
  }

  &::after {
    align-self: end;
    transform-origin: left center;
  }

  > span {
    width: 100%;
  }

  &.active {
    rotate: -45deg;
    &::before,
    &::after {
      rotate: -90deg;
    }

    &::before {
      translate: 0 -0.25rem;
    }

    &::after {
      translate: 0 0.25rem;
    }
  }
}

/* Hero section */

.hero-text {
  max-width: 50rem;
  margin-inline: auto;
}

.hero-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-base);
}

.hero-image {
  margin-inline: auto;
  box-shadow: 0 1.563rem 3.125rem -0.75rem rgba(var(--color-dark-rgb), 0.25),
    0 0 0.938rem 0 rgba(var(--color-dark-rgb), 0.07);
}

/* Companies section */

.companies-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  > li {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
}

/* Discover section */

.discover {
  > .container {
    display: grid;
    grid-template-columns: 1fr 29.296875%;
    gap: clamp(var(--spacing-lg), 5vw, var(--spacing-3xl));
  }
}

.discover-text {
  max-width: 38.75rem;
}

/* Feature section */

.feature {
  > .container {
    display: grid;
    grid-template-columns: 35.15625% 1fr;
    gap: clamp(var(--spacing-lg), 5vw, var(--spacing-3xl));
    > .flow {
      align-self: center;
    }
  }
}

.feature-image {
  > img {
    box-shadow: 0 1.25rem 1.563rem -0.313rem rgba(0, 0, 0, 0.1),
      0 0 0.625rem 0 rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 48em) {
  .navbar-menu {
    display: contents;
  }

  .navbar-toggle-button {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .highlight-box {
    &::before {
      border-width: 3px;
    }
  }

  .navbar-menu {
    --menu-offset-top: 6.875rem;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
    position: fixed;
    inset: var(--menu-offset-top) 1rem auto;
    max-width: 25rem;
    max-height: calc(100dvh - (var(--menu-offset-top) + 0.5rem));
    margin-left: auto;
    padding: var(--spacing-lg);
    text-align: center;
    overflow-y: auto;
    translate: 200% 0;
    border-radius: var(--radius-lg);
    background-color: var(--color-neutral-800);
    transition: translate 0.2s ease-in-out;
    &.open {
      translate: 0 0;
    }
  }

  .nav-list {
    flex-direction: column;
    row-gap: var(--spacing-md);
    font-size: var(--text-size-lg);
  }

  .nav-actions {
    justify-content: center;
  }

  .discover,
  .feature {
    > .container {
      grid-template-columns: auto;
      justify-items: center;
      text-align: center;
    }
  }

  .discover-image,
  .feature-image {
    order: -1;
  }

  .discover-image {
    max-width: 13.75rem;
  }
}

@media (max-width: 29.99875em) {
  .hero {
    h1 > span.underline::before {
      display: none;
    }
  }

  .hero-actions {
    flex-direction: column;
  }
}
